<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.maerkle.swola">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:icon="@mipmap/ic_launcher_round">

        <activity
            android:name="dev.maerkle.swola.Swola"
            android:exported="true"
            android:theme="@style/AppTheme"
            android:icon="@drawable/ic_launcher_foreground"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>